---
import SubtitleH2 from "./textBlocks/SubtitleH2.astro";
import MainButtonAnchor from "./buttons/MainButtonAnchor.astro";
import Paragraph from "./textBlocks/Paragraph.astro";

interface Props {
  id: string;
  title: string;
  description: string;
  buttonText: string;
  img: string;
}

const { id, title, description, buttonText, img } = Astro.props;
---

<hr class="mx-10 mb-14 h-[1px] bg-[#e7e7e7]" />
<div class="md:grid grid-cols-12 px-6 md:px-10 gap-4 mb-16 md:mb-48">
  <div class="flex flex-col col-span-6 pr-20">
    <SubtitleH2>{title}</SubtitleH2>
    <Paragraph>{description}</Paragraph>
    <div>
      <MainButtonAnchor class="border-[1px] border-black/60"
        >{buttonText}</MainButtonAnchor
      >
    </div>
  </div>
  <picture class="col-span-6">
    <img class="pt-10 md:pt-0" src={img} alt=`Image for ${title}` />
  </picture>
</div>
